# Python
__pycache__/
*.py[cod]
*.pyo
.env
.env.*
env/
.venv/
.venv_clean/
venv/
/.mypy_cache
/.pytest_cache

# Node
node_modules/
npm-debug.log*
package-lock.json

# SQLite DBs
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Frontend Build
frontend/dist/
dist/

# Render / Logs
logs/
*.log

# Scripts / Archives
translation_report.json
