# Python
__pycache__/
*.py[cod]
*.pyo
.env
env/
.venv/
venv/
/.mypy_cache
/.pytest_cache

# Node
node_modules/
npm-debug.log*
package-lock.json

# SQLite DBs
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
frontend/dist/


# Frontend Build
frontend/dist/
dist/

